.aboutWrapper {
  h3 {
    font-family: $title-font;
    font-variant: small-caps;
    letter-spacing: 0.15em;
    color: $link-highlight;
    @include fluid-type(320px, 1200px, 25px, 30px);
    padding-bottom: 5px;
    border-bottom: $link-highlight dotted 2px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
}
