.footer {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 3vw;
  background-color: $link-colour;
  width: 100%;
  color: $background-colour;

  .footerContainer {
    margin: 5vw auto 3vw auto;
    padding: 1vw;
    width: 90%;
    text-align: center;

    .titleContainer {
      border-bottom: 2px $background-colour dotted;

      h2 {
        font-family: $title-font;
        font-variant: small-caps;
      }
    }

    .footerContentContainer {
      margin: 2vw auto;
      width: 70%;
      display: flex;
      justify-content: space-between;

      @include fluid-type(320px, 1200px, 15px, 20px);

      .youAreHere {
        font-weight: bolder;
        color: #c71585;
      }

      a {
        color: $background-colour;
        font-weight: bolder;
        text-decoration: none;
        letter-spacing: 0.35em;
        @include transition-time;

        &:hover {
          color: #c71585;
        }
      }
    }

    .footerCopyright {
      font-weight: bold;
      @include fluid-type(320px, 1200px, 10px, 16px);
      color: #c71585;
    }
  }
}
