.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vw;
  background-color: $link-colour;
  width: 100%;
  color: $background-colour;

  .footerContainer {
    margin: 5vh auto;
    padding: 1vw;
    width: 90%;
    text-align: center;

    .titleContainer {
      border-bottom: 2px $background-colour dotted;

      h2 {
        font-family: $title-font;
        font-variant: small-caps;
      }
    }

    p {
      @include fluid-type(320px, 1200px, 10px, 18px);
    }
  }
}
