@import url("https://fonts.googleapis.com/css2?family=Candal&family=Montserrat&display=swap");

$title-font: "Candal", sans-serif;
$body-font: "Montserrat", sans-serif;
$background-colour: #fff;
$link-colour: #ff33cd;
$link-highlight: #06d2fd;
$logo-subheader-colour: #551a8b;

@mixin blue-to-pink-bg() {
  background-image: linear-gradient(to right, $link-colour, $link-highlight);
}

@mixin transition-time() {
  transition: all 0.5s;
}

@mixin just-the-gradient(
  $direction: 180deg,
  $colour-from: $link-highlight,
  $colour-to: $link-color
) {
  background: -webkit-linear-gradient($direction, $colour-from, $colour-to);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin header-text() {
  margin: 0.85rem 0;
  font-family: $title-font;
  font-variant: small-caps;
  font-weight: bolder;
  color: $link-colour;
  letter-spacing: 0.2em;
  @include fluid-type(320px, 1200px, 40px, 60px);
  @include transition-time;
}

@mixin subheader-text() {
  margin: 0.2rem 0;
  font-weight: bold;
  letter-spacing: 0.15em;
  @include fluid-type(320px, 1200px, 20px, 30px);
}

@mixin body-text() {
  @include fluid-type(320px, 1200px, 16px, 24px);
  font-family: $body-font;
  line-height: 1.8em;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
