@import "variables", "navbar", "news", "about", "clinics", "resource", "footer";

.App {
  width: 100vw;
  margin: 0px;
  background-color: $background-colour;
  @include body-text;
}

.content {
  margin: 0 auto;
  width: 70%;
}

h1 {
  @include header-text;
}

h2 {
  @include subheader-text;
}

p {
  margin: 0.7em 0;
}

@media (max-width: 900px) {
  .content {
    width: 90%;
  }
}
