@import "variables", "navbar", "header", "news", "about", "clinics", "resource",
  "suggest", "footer";

.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 30vw;
  background-color: $background-colour;
  @include body-text;
}

.content {
  margin: 0 auto;
  width: 70%;
}

h1 {
  @include header-text;
}

h2 {
  @include subheader-text;
}

p {
  margin: 0.7em 0;
}

@media (max-width: 900px) {
  .content {
    width: 90%;
  }
}
