@import url("https://fonts.googleapis.com/css2?family=Candal&family=Montserrat&display=swap");
.navbarWrapper {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: 1rem;
}

.navbarWrapper .navButton {
  position: absolute;
  display: inline;
  z-index: 9;
  right: 2rem;
  top: 0;
  width: 20vw;
  cursor: pointer;
  text-align: center;
  font-family: "Candal", sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
  color: #06d2fd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navButton {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navButton {
    font-size: calc( 30px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navButton {
    font-size: 40px;
  }
}

.navbarWrapper .navButton:hover {
  color: #fff;
}

.navbarWrapper .navButton:hover {
  font-size: 40px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navButton:hover {
    font-size: calc( 40px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navButton:hover {
    font-size: 50px;
  }
}

.navbarWrapper .navButton.open {
  display: none;
}

.navbarWrapper .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.navbarWrapper .navbar.open {
  visibility: visible;
}

.navbarWrapper .navbar .menuNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #fff;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navbar .menuNavContainer.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
  display: inline-block;
  font-variant: small-caps;
  padding: 0.7rem 0;
  font-weight: 300;
  font-family: "Candal", sans-serif;
  text-decoration: none;
  color: #ff33cd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
    font-size: calc( 25px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
    font-size: 30px;
  }
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
  color: #06d2fd;
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
    font-size: calc( 30px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
    font-size: 35px;
  }
}

.headerWrapper {
  width: 100%;
  margin: 7vw 0 5vw 0;
  background-color: #ff33cd;
  text-align: center;
}

.headerWrapper .headerContent {
  margin: 0 auto;
  padding: 1vw;
  width: 90%;
}

.headerWrapper .headerContent h1 {
  margin: 1vw 0;
  color: #fff;
  margin-bottom: 1vw;
  padding-bottom: 1vw;
  border-bottom: 2px dotted #fff;
}

.headerWrapper .headerContent h2 {
  letter-spacing: 0.05em;
  margin: 1vw 0;
  color: #fff;
}

.headerWrapper .headerContent h2 {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .headerWrapper .headerContent h2 {
    font-size: calc( 10px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .headerWrapper .headerContent h2 {
    font-size: 18px;
  }
}

.newsBlockWrapper {
  width: 100%;
}

.newsBlockWrapper .newsContainer {
  width: 100%;
}

.newsBlockWrapper .newsContainer .newsTitleContainer {
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  color: #ff33cd;
  padding-bottom: 5px;
  border-bottom: #ff33cd dotted 2px;
  margin-bottom: 10px;
}

.newsBlockWrapper .newsContainer .newsTitleContainer {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .newsBlockWrapper .newsContainer .newsTitleContainer {
    font-size: calc( 25px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .newsBlockWrapper .newsContainer .newsTitleContainer {
    font-size: 30px;
  }
}

.newsBlockWrapper .newsContainer .newsSubHeadCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
  font-variant: small-caps;
  margin-bottom: 20px;
  color: #ff33cd;
}

.newsBlockWrapper .newsContainer .newsSubHeadCont {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .newsBlockWrapper .newsContainer .newsSubHeadCont {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .newsBlockWrapper .newsContainer .newsSubHeadCont {
    font-size: 22px;
  }
}

.newsBlockWrapper .newsContainer .newsSubHeadCont .dateText {
  color: #fdb0c0;
  font-weight: normal;
}

.newsBlockWrapper .newsContainer .newsContentContainer {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .newsBlockWrapper .newsContainer .newsContentContainer {
    font-size: calc( 16px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .newsBlockWrapper .newsContainer .newsContentContainer {
    font-size: 20px;
  }
}

.aboutWrapper h3 {
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  color: #06d2fd;
  padding-bottom: 5px;
  border-bottom: #06d2fd dotted 2px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.aboutWrapper h3 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .aboutWrapper h3 {
    font-size: calc( 25px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .aboutWrapper h3 {
    font-size: 30px;
  }
}

.clinicPage {
  width: 100%;
}

.clinicPage .clinicDropdown {
  margin: 5vh;
}

.clinicPage .clinicDropdown #dropdown {
  width: 100%;
  padding: 1vh;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  background-color: #06d2fd;
}

.clinicPage .clinicDropdown #dropdown {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicDropdown #dropdown {
    font-size: calc( 30px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicDropdown #dropdown {
    font-size: 40px;
  }
}

.clinicPage #dropOpt {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-variant: normal;
  background-color: #06d2fd;
  color: #fff;
}

.clinicPage #dropOpt {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .clinicPage #dropOpt {
    font-size: calc( 20px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage #dropOpt {
    font-size: 30px;
  }
}

.clinicPage .clinicsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.clinicPage .clinicsDiv .clinicContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin: 1vw 0.6vw 2vw 0.6vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border-top: #06d2fd dotted 2px;
}

.clinicPage .clinicsDiv .clinicContainer {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicsDiv .clinicContainer {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicsDiv .clinicContainer {
    font-size: 22px;
  }
}

.clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  color: #06d2fd;
  padding: 1vw;
}

.clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
    font-size: calc( 22px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
    font-size: 30px;
  }
}

.clinicPage .clinicsDiv .clinicContainer .clinicImageContainer {
  margin: 3vh auto 0;
  width: 30%;
  height: 30%;
  overflow: hidden;
  line-height: normal;
}

.clinicPage .clinicsDiv .clinicContainer .clinicImageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
    font-size: 22px;
  }
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer .clinicWebsite {
  color: #ff33cd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bolder;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer .clinicWebsite:visited {
  color: #ff33cd;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer .clinicWebsite:hover {
  color: #06d2fd;
}

.clinicPage .clinicsDiv .clinicContainer .clinicAddress a {
  color: #ff33cd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bolder;
}

.clinicPage .clinicsDiv .clinicContainer .clinicAddress a:visited {
  color: #ff33cd;
}

.clinicPage .clinicsDiv .clinicContainer .clinicAddress a:hover {
  color: #06d2fd;
}

@media (max-width: 1000px) {
  .clinicPage .clinicsDiv {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clinicPage .clinicsDiv .clinicContainer {
    width: 100%;
  }
}

.resourcePage {
  width: 100%;
}

.resourcePage .resourceDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.resourcePage .resourceDiv .resourceContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin: 1vw 0.5vw 2vw 0.5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border-top: #06d2fd dotted 2px;
}

.resourcePage .resourceDiv .resourceContainer {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .resourcePage .resourceDiv .resourceContainer {
    font-size: calc( 16px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .resourcePage .resourceDiv .resourceContainer {
    font-size: 20px;
  }
}

.resourcePage .resourceDiv .resourceContainer .resourceNameContainer {
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  color: #06d2fd;
  padding: 1vw;
}

.resourcePage .resourceDiv .resourceContainer .resourceNameContainer {
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  .resourcePage .resourceDiv .resourceContainer .resourceNameContainer {
    font-size: calc( 22px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .resourcePage .resourceDiv .resourceContainer .resourceNameContainer {
    font-size: 30px;
  }
}

.resourcePage .resourceDiv .resourceContainer .resourceImageContainer {
  margin: 3vh auto 0;
  width: 30%;
  height: 30%;
  overflow: hidden;
  line-height: normal;
}

.resourcePage .resourceDiv .resourceContainer .resourceImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resourcePage .resourceDiv .resourceContainer .resourceLinkContainer {
  margin: 10vh auto;
}

.resourcePage .resourceDiv .resourceContainer .resourceLinkContainer {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .resourcePage .resourceDiv .resourceContainer .resourceLinkContainer {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .resourcePage .resourceDiv .resourceContainer .resourceLinkContainer {
    font-size: 22px;
  }
}

.resourcePage .resourceDiv .resourceContainer .resourceLinkContainer a {
  color: #ff33cd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bolder;
}

.resourcePage .resourceDiv .resourceContainer .resourceLinkContainer a:visited {
  color: #ff33cd;
}

.resourcePage .resourceDiv .resourceContainer .resourceLinkContainer a:hover {
  color: #06d2fd;
}

@media (max-width: 1000px) {
  .resourcePage .resourceDiv {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resourcePage .resourceDiv .resourceContainer {
    width: 100%;
  }
}

.suggestPage #contact-form {
  width: 100%;
}

.suggestPage #contact-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3vw auto;
  color: #ff33cd;
}

.suggestPage #contact-form .form-group {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  .suggestPage #contact-form .form-group {
    font-size: calc( 13px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .suggestPage #contact-form .form-group {
    font-size: 18px;
  }
}

.suggestPage #contact-form .form-group label {
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.suggestPage #contact-form .form-group input {
  width: 60%;
  padding: 1.5vw;
  border: none;
  background-color: #ff33cd;
  color: #fff;
  border-radius: 5vw;
}

.suggestPage #contact-form .form-group input {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  .suggestPage #contact-form .form-group input {
    font-size: calc( 13px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .suggestPage #contact-form .form-group input {
    font-size: 18px;
  }
}

.suggestPage #contact-form .form-group select {
  width: 60%;
  padding: 1.5vw;
  border: none;
  background-color: #ff33cd;
  color: #fff;
  border-radius: 5vw;
}

.suggestPage #contact-form .form-group select {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  .suggestPage #contact-form .form-group select {
    font-size: calc( 13px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .suggestPage #contact-form .form-group select {
    font-size: 18px;
  }
}

.suggestPage #contact-form .form-group textarea {
  width: 60%;
  padding: 1.8vw;
  border: none;
  background-color: #ff33cd;
  color: #fff;
  border-radius: 5vw;
}

.suggestPage #contact-form .form-group textarea {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  .suggestPage #contact-form .form-group textarea {
    font-size: calc( 13px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .suggestPage #contact-form .form-group textarea {
    font-size: 18px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 3vw;
  background-color: #ff33cd;
  width: 100%;
  color: #fff;
}

.footer .footerContainer {
  margin: 5vw auto 3vw auto;
  padding: 1vw;
  width: 90%;
  text-align: center;
}

.footer .footerContainer .titleContainer {
  border-bottom: 2px #fff dotted;
}

.footer .footerContainer .titleContainer h2 {
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
}

.footer .footerContainer .footerContentContainer {
  margin: 2vw auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerContainer .footerContentContainer {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .footer .footerContainer .footerContentContainer {
    font-size: calc( 15px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .footer .footerContainer .footerContentContainer {
    font-size: 20px;
  }
}

.footer .footerContainer .footerContentContainer .youAreHere {
  font-weight: bolder;
  color: #c71585;
}

.footer .footerContainer .footerContentContainer a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.35em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footerContainer .footerContentContainer a:hover {
  color: #c71585;
}

.footer .footerContainer .footerCopyright {
  font-weight: bold;
  color: #c71585;
}

.footer .footerContainer .footerCopyright {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .footer .footerContainer .footerCopyright {
    font-size: calc( 10px + 6 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .footer .footerContainer .footerCopyright {
    font-size: 16px;
  }
}

.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 33vw;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
}

.App {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .App {
    font-size: calc( 16px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .App {
    font-size: 24px;
  }
}

.content {
  margin: 0 auto;
  width: 70%;
}

h1 {
  margin: 2rem 0;
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  color: #ff33cd;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

h1 {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc( 30px + 30 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  margin: 0.2rem 0;
  font-weight: bold;
  letter-spacing: 0.15em;
}

h2 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc( 20px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

p {
  margin: 0.7em 0;
}

.pageImage {
  margin: 0 auto;
  width: 50%;
}

.pageImage .pageImageImage {
  height: 30vw;
}

@media (max-width: 900px) {
  .content {
    width: 90%;
  }
  .pageImage .pageImageImage {
    height: 45vw;
  }
}
/*# sourceMappingURL=style.css.map */