@import url("https://fonts.googleapis.com/css2?family=Candal&family=Montserrat&display=swap");
.navbarWrapper {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: 1rem;
}

.navbarWrapper .navButton {
  position: absolute;
  display: inline;
  z-index: 9;
  right: 6rem;
  top: 0rem;
  width: 20vw;
  padding: 0.5vw 0;
  cursor: pointer;
  text-align: center;
  font-family: "Candal", sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
  color: #ff33cd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navButton {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navButton {
    font-size: calc( 16px + 9 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navButton {
    font-size: 25px;
  }
}

.navbarWrapper .navButton:hover {
  color: #06d2fd;
}

.navbarWrapper .navButton:hover {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navButton:hover {
    font-size: calc( 25px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navButton:hover {
    font-size: 30px;
  }
}

.navbarWrapper .navButton.open {
  display: none;
}

.navbarWrapper .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.navbarWrapper .navbar.open {
  visibility: visible;
}

.navbarWrapper .navbar .menuNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #fff;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navbar .menuNavContainer.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
  display: inline-block;
  font-variant: small-caps;
  padding: 0.7rem 0;
  font-weight: 300;
  font-family: "Candal", sans-serif;
  text-decoration: none;
  color: #ff33cd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
    font-size: calc( 25px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink {
    font-size: 30px;
  }
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
  color: #06d2fd;
}

.navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
    font-size: calc( 30px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navbarWrapper .navbar .menuNavContainer .menuNavItem.open .menuNavLink:hover {
    font-size: 35px;
  }
}

.clinicPage {
  width: 100%;
}

.clinicPage .clinicDropdown {
  margin: 5vh;
}

.clinicPage .clinicDropdown #dropdown {
  width: 100%;
  padding: 1vh;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff33cd), to(#06d2fd));
  background-image: linear-gradient(to right, #ff33cd, #06d2fd);
}

.clinicPage .clinicDropdown #dropdown {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicDropdown #dropdown {
    font-size: calc( 30px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicDropdown #dropdown {
    font-size: 40px;
  }
}

.clinicPage #dropOpt {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-variant: normal;
  background-color: #e0eeee;
  color: #778899;
}

.clinicPage #dropOpt {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .clinicPage #dropOpt {
    font-size: calc( 20px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage #dropOpt {
    font-size: 30px;
  }
}

.clinicPage .clinicsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.clinicPage .clinicsDiv .clinicContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin: 1vw 0.5vw 2vw 0.5vw;
}

.clinicPage .clinicsDiv .clinicContainer {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicsDiv .clinicContainer {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicsDiv .clinicContainer {
    font-size: 22px;
  }
}

.clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  color: white;
  padding: 1vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff33cd), to(#06d2fd));
  background-image: linear-gradient(to right, #ff33cd, #06d2fd);
}

.clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
    font-size: calc( 22px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicNameContainer {
    font-size: 30px;
  }
}

.clinicPage .clinicsDiv .clinicContainer .clinicImageContainer {
  margin: 3vh auto 0;
  width: 30%;
  height: 30%;
  overflow: hidden;
  line-height: normal;
}

.clinicPage .clinicsDiv .clinicContainer .clinicImageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer {
    font-size: 22px;
  }
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer .clinicWebsite {
  color: #ff33cd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bolder;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer .clinicWebsite:visited {
  color: #ff33cd;
}

.clinicPage .clinicsDiv .clinicContainer .clinicLinkContainer .clinicWebsite:hover {
  color: #06d2fd;
}

.clinicPage .clinicsDiv .clinicContainer .clinicAddress a {
  color: #ff33cd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bolder;
}

.clinicPage .clinicsDiv .clinicContainer .clinicAddress a:visited {
  color: #ff33cd;
}

.clinicPage .clinicsDiv .clinicContainer .clinicAddress a:hover {
  color: #06d2fd;
}

@media (max-width: 1000px) {
  .clinicPage .clinicsDiv {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clinicPage .clinicsDiv .clinicContainer {
    width: 100%;
  }
}

.App {
  width: 100vw;
  margin: 0px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8em;
}

.App {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .App {
    font-size: calc( 16px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .App {
    font-size: 24px;
  }
}

.content {
  margin: 0 auto;
  width: 70%;
}

h1 {
  margin: 0.85rem 0;
  font-family: "Candal", sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  color: #ff33cd;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

h1 {
  font-size: 40px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc( 40px + 20 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

h1:hover {
  color: #06d2fd;
}

h2 {
  margin: 0.2rem 0;
  font-weight: bold;
  letter-spacing: 0.15em;
}

h2 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc( 20px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .content {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */